{% extends "base.html" %}

{% block title %}
  AEAccount
{% endblock %}

{% block content %}
  <section>
    <header>
      <h1>
        <a href="http://github.com/scotch/aeaccount">AEAccount</a>
        <small>Adds User Account Management</small>
      </h1>
    </header>
    <h3>Info</h3>
    <dl>
      <dt>Repository</dt>
      <dd><a href="http://github.com/scotch/aeaccount">github.com/scotch/aeaccount</a></dd>
    </dl>
    <dl>
      <dt>Urls</dt>
      <dd>
        <p><a href="/account/">/account/</a></p>
        <p><a href="/account/recovery">/account/recovery</a></p>
      </dd>
    </dl>
    <h3>Demo</h3>
  </section>
{% endblock %}
