<ul class="nav nav-tabs">
  <li class="active"><a href="#products">Products</a></li>
  <li><a href="#customers">Customers</a></li>
  <li><a href="#orders">Orders</a></li>
</ul>
<div id="content">
  &nbsp;
</div>
